/* Global Variables */
:root {
  /* clr means color
     primary - is the most used color including font color
     secondary - is the next most used color and contrast to primary
     accent - is the brightest color used for emphasis
  */
  --clr-primary: #FFFFFF;
  --clr-primary-shade-1: #ECECEC;
  --clr-secondary: #36454F;
  --clr-accent: #1D5D9B;
  --clr-accent-shade-1: #6CA2FF;

  --ff-primary: 'Merriweather', sans-serif;
  --ff-title: 'Playfair Display', sans-serif;
  --ff-subtext: 'Lora', sans-serif;
  --fs-default: clamp(1rem, -0.258rem + 1.548vw, 1.6rem);
  --fs-xl: 7rem;
  --fs-s: 1.1rem;
  --fs-xs: 0.9rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--fs-default);
}

nav {
  width: 100%;
  padding: 10px 10px;
  background: var(--clr-primary);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  position: fixed;
  display: flex;
  justify-content: space-around;
  z-index: 4;
}

nav>div {
  width: 12%;
  max-width: 400px;

  transition: all 0.5s ease-in-out;
}

img {
  width: 100%;
  height: 100%;
  user-select: none;
}

nav ul {
  width: 80%;
  list-style: none;
  padding-right: 3%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5%;

  transition: all 0.5s ease-in-out;
}

nav ul>li>a {
  color: var(--clr-secondary);
  font: 500 var(--fs-s) var(--ff-primary);

  transition: all 0.5s ease-in-out;
}

nav>ul>li>a:hover,
.active {
  color: var(--clr-accent);
  font-weight: bold;
}

nav.scrolled>ul>li>a {
  font-size: calc(var(--fs-s) - 0.2rem);
}

nav ul>li:last-child a {
  padding: 5px 20px;
  color: var(--clr-primary-shade-1);
  background: var(--clr-accent);
  border-radius: 25px;
  box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.25);
}

nav ul>li:last-child a:hover {
  background: var(--clr-accent-shade-1);
}

nav.scrolled ul>li:last-child a:hover {
  color: var(--clr-primary);
}

nav.scrolled .active:hover {
  color: var(--clr-accent-shade-1);
}

nav.scrolled>div {
  width: 8%;
}

nav.scrolled>ul {
  gap: 4%;
}

nav.scrolled>ul>li>a:hover,
.active {
  color: var(--clr-accent);
}

a {
  font: 400 var(--clr-secondary) var(--ff-primary);
  text-decoration: none;
}

section {
  width: 100%;
  height: 100vh;
  height: 100lvh;

  display: flex;
}

footer {
  background: var(--clr-secondary);
  padding: 20px 20px;
  color: var(--clr-primary);
  font: var(--fs-s) var(--ff-subtext);
}

footer>div {
  display: flex;
  justify-content: space-evenly;
}

footer>div>div>h3 {
  padding-bottom: 5px;
}

footer>div>div>span {
  padding: 5px 5px;
  display: flex;
}

footer>div>div>span>svg {
  width: 30px;
  height: 30px;
}

footer>h3 {
  padding-top: 10px;
  text-align: center;
  font-size: var(--fs-s);
}

.light {
  background: var(--clr-primary);
}

.dark {
  background: var(--clr-primary-shade-1);
}