nav {
  background: none;
  box-shadow: none;
}

nav.scrolled {
  background: var(--clr-primary);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

nav>ul>li>a,
.active {
  color: var(--clr-primary-shade-1);
}

nav>ul>li>a:hover {
  color: var(--clr-primary);
}

.active:hover {
  color: var(--clr-primary);
}

nav.scrolled ul>li>a {
  color: var(--clr-secondary);
}

nav.scrolled>ul>li>a:hover,
nav.scrolled .active {
  color: var(--clr-accent);
}

nav .button {
  border: 2px solid var(--clr-primary);
  background: none;
  box-shadow: none;
}

nav .button:hover {
  color: var(--clr-secondary);
  background: var(--clr-primary-shade-1);
}

nav.scrolled .button {
  color: var(--clr-primary-shade-1);
  background: var(--clr-accent);
  border: solid var(--clr-accent);
  box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.25);
}

nav.scrolled .button:hover {
  background: none;
}

section:nth-child(1) div:first-child {
  flex: 1;
}

section:nth-child(1) div:last-child {
  width: 40%;
  color: var(--clr-primary);
  padding: clamp(13rem, -12.161rem + 30.968vw, 25rem) 2rem;
  position: absolute;
  top: 0;
  z-index: 2;

  display: flex;
  flex-direction: column;
}

#gradient {
  width: 100%;
  height: 100vh;
  height: 100lvh;
  background: linear-gradient(90deg, var(--clr-primary), var(--clr-primary-shade-1));

  position: absolute;
  top: 0;
  z-index: -1;
}

#background {
  object-fit: cover;
  z-index: 1;
}

#film {
  width: 100%;
  height: 100vh;
  height: 100lvh;
  background: rgba(0, 0, 0, 0.4);

  position: absolute;
  top: 0;
  z-index: 2;
}

#region {
  font: 500 var(--fs-s) var(--ff-subtext);
}

#name {
  font: bold var(--fs-xl) var(--ff-primary);
  line-height: calc(var(--fs-xl) - 0.4rem);
  padding-top: 15px;
}

#description {
  font: 500 var(--fs-xs) var(--ff-subtext);
  padding-top: 20px;
}

section:nth-child(2) {
  display: flex;
  justify-content: center;
  gap: 3%;
}

section:nth-child(2) div:first-child {
  padding-top: 8%;
  width: 50%;
}

section:nth-child(2)>div>h2 {
  font-weight: 400;
  padding-left: 10px;
}

section:nth-child(2)>div>h1 {
  padding: 10px 0 25px;
}

section:nth-child(2) div:last-child {
  padding-top: 6%;
  width: 26%;
  height: 75vh;
}

section:nth-child(3) {
  width: 100%;
  padding-top: 6%;

  flex-direction: column;
  align-items: center;
  gap: 3%;
}

section:nth-child(3)>div {
  position: absolute;
  z-index: 0;
}

section:nth-child(3)>h2 {
  font: bold calc(var(--fs-m) - 1rem) var(--ff-subtext);
}

section:nth-child(3)>h1 {
  width: 60%;
  font-size: calc(var(--fs-l) - 1.7rem);
  text-align: center;
}

section:nth-child(3)>p {
  width: 40%;
  text-align: center;
  padding-bottom: 2%;
}

section:nth-child(3)>button {
  background: none;
  border: none;
  margin: 0 auto;
}

section:last-child {
  display: flex;
  align-items: center;
  gap: 10%;
}

section:last-child>div:nth-child(1) {
  width: 40%;
  height: 100vh;
  border-radius: var(--brd-radius);

  position: relative;
  left: -5%;
  bottom: -15%;
  z-index: 0;
}

section:last-child>div>div:first-child {
  position: relative;
  left: 0px;
}

section:last-child div>div>h1 {
  font-size: calc(var(--fs-l) - 1.2rem);
  padding: 8% 0 6%;
}

section:last-child div>h1 {
  font-size: calc(var(--fs-l) - 2.7rem);
  line-height: calc(var(--fs-l) - 2rem);
  text-align: center;
}

section:last-child>div>div:last-child {
  position: relative;
  left: -10%;
}

section:last-child>div:nth-child(2) {
  width: 60%;
  height: 80vh;
  border-radius: var(--brd-radius);
  padding: 4% 6%;

  position: relative;
  right: 5%;
}

#answer {
  width: 40vw;
  font-size: calc(var(--fs-s) + 0.6rem);
  padding: 9% 0 0 3%;
}

.bar {
  width: 75%;
  height: 10vh;
  margin: 4%;
  background: var(--clr-accent);
  border-radius: var(--brd-radius);

  transition: all 0.5s ease-in-out;
}

.bar:hover,
.selected {
  width: 92%;
  height: 14vh;
}